/*Begin Generic Layout Variables*/
.single-copy{
    padding-top: 50px;
    padding-left: 180px;
    padding-right: 360px;
    h2 {
      font-size: 40pt;
    }
}
/*End Generic Layout Variables*/


/*Begin Broad Flex Layout Styles*/
#anchor-bar-wrap {
  background-color: #dbdbdb;
}
#anchor-bar {
  height: 30px;
  li {
    float: left;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 15px;
    height: 20px;
    line-height: 20px;
    border-left: 1px #c6c5c5 solid;
    a {
      font-size: 10pt;
      color: #fff;
      text-transform: uppercase;
    }
  }
}
/*End Broad Flex Layout Styles*/


/*Begin Open Door Page Stlyes*/
#open-door-wrap {
    h2 {
    font-weight: 200;
    font-family: $font-stack;
    color: #979696;
    padding: 15px 0;
    }

  #first {
    padding-top: 75px;
    padding-left: 180px;
    padding-right: 360px;
    h2 {
      font-size: 50pt;
    }
  }

  #second {
    padding-top: 130px;
    padding-left: 64px;
    padding-right: 670px;
    h2 {
      color: #fff;
      font-size: 30pt;
    }
    p {
      color: #efefef;
    }
  }

  #third {
    padding-top: 130px;
    padding-left: 290px;
    padding-right: 390px;
    address {
      font-style: italic;
      font-size: 10pt;
      line-height: 1.5em;
    }
  }

}
/*End Open Door Page Stlyes*/