#career-page {
  margin-top:50px;

  h2 {
    font-size:20pt;
    text-align:center;
    color:#787878;
    margin: 0 25px;
    line-height: 1.25em;
  }
  .career-learn-more-button {
    color: #fff;
    display: inline-block;
    font-size: 19pt;
    letter-spacing: 0.07em;
    line-height: 38px;
    margin-top: 20px;
    padding: 5px;
    width: 400px;
    margin: 0 auto;
    text-align: center;
  }

  span {
    background-color: #067489;
  }

  #career-learn-more-wrap{
    margin: 0 auto;
    width: 960px;
    height: 150px;
    background-color: #eeeeee;
    padding-top:43px;
  }

  #career-learn-more{
    margin: 0 auto;
    width: 300px;
  }

}