#fp-testimonials {
    overflow: hidden;
}
#fp-testimonials-seemore {
    float: left;
    width: 265px;
    margin: 35px;
}
#fp-testimonials-seemore p {
    color: #33332f;
    font-family: 'hvnStd_Lite', sans-serif;
}
#fp-testimonials-seemore span {
    margin-top: 15px;
}
#fp-testimonials-logos {
    float: right;
    width: 524px;
}

#fp-testimonials h4{
    color: #5197b4;
    font-family: hvnStd_LiteCn, sans-serif;
    font-size: 18pt;
    letter-spacing: .04em;
    padding-bottom: 4px;
}