#hied-wrap {
  color: #787878;
  font-weight: 400;
  h2 {
    font-weight: 200;
    font-family: $font-stack;
    color: #979696;
    padding: 15px 0;
    font-size: 29pt;
  }
  p {
    font-size: 14px;
  }
}
#hied-intro {
  h2 {
    font-size: 46pt;
    padding-bottom: 0;
  }
  padding-left: 180px;
  padding-right: 380px;
  padding-top: 25px;
  height: 394px;
  background-image: url(images/hied/hied_introduction.jpg);
}
#hied-faculty {
  h2 {
    padding-bottom: 0;
  }
  padding-top: 15px;
  padding-right: 550px;
  padding-left: 180px;
  height: 407px;
  background-image: url(images/hied/hied_faculty.jpg);
}