#leadership-banner-wrap {
  background-color: #a3a3a3;
}
#leadership-banner {
  height: 455px;
  background-image: url(images/leadership/default.jpg);
  & > img {
    display: none;
  }
}
#leadership-main {
  margin-top: 35px;
}
.huge-text {
  font-size: 100px;
  text-align: center;
}
#leadership-sidebar {
  div, p {
    color: $dialogblue;
  }
}
#mark-content, #bob-content, #rob-content, #mark-sidebar, #bob-sidebar, #rob-sidebar {
  display: none;
}