#story-wrap {
  color: #787878;
  font-weight: 400;
  h2 {
    font-weight: 200;
    font-family: $font-stack;
    color: #979696;
    padding-top: 15px;
    font-size: 28pt;
    padding-bottom: 5px;
  }
  p {
    font-size: 11pt;
  }
  h5 {
    color: #518fcc;
    text-transform: uppercase;
    font-weight: 600;
  }
  .promo-slide {
    height: 455px;
    padding-top: 70px;
  }
}
#pse-slide {
  .promo-slide-text {
    width: 320px;
  }
  background-image: url(images/story/pse.jpg);
  .promo-slide {
    background: none;
  }
  p {
    font-size: 10pt;
    font-weight: 600;
  }
}
#approach-slide {
  .promo-slide-text {
    width: 370px;
  }
  background-image: url(images/story/approach.jpg);
  .promo-slide {
    background: none;
  }
  .promo-slide-imgwrap {
    height: 350px;
  }
  .dots {
    right: 50%;
    margin-right: -22px;
  }
  p {
    font-size: 10pt;
    font-weight: 600;
  }
}
#story-what-we-do {
  height: 454px;
  padding-top: 60px;
  background-image: url(images/story/what-we-do.jpg);
  padding-left: 180px;
  padding-right: 500px;
  p {
    width: 280px;
  }
  h2 {
    font-size: 27pt;
  }
}
#story-our-clients {
  height: 425px;
  padding-top: 40px;
  padding-left: 180px;
  padding-right: 70px;
  overflow: hidden;
  h2 {
    width: 340px;
    font-size: 26pt;
  }
}
#story-our-clients-copy {
  width: 385px;
  float: left;
}
#story-our-clients-testimonial-slider {
  width: 310px;
  float: right;
  blockquote {
    margin: 0;
    border: none;
    padding: 0;
    line-height: 25px;
  }
}
.testifier-name {
  font-weight: 600;
  padding-top: 20px;
  padding-bottom: 5px;
}
.testifier-title, .testifier-name {
  font-size: 10pt;
  text-transform: uppercase;
}