#fp-slideshow-wrap {
    background-color: #efefef;
}

.carousel-headline-wrap {
    position: absolute;
    top: 100px;
    left: 185px;
    & > a {
        display: inline-block;
        margin-top: 30px;
    }
}
.carousel-headline {
    font-family: hvnStd_UltLt;
    letter-spacing: 0.06em;
    color: #3d3d3d;
    font-size: 38px;
}
.carousel-subheading {
    font-family: hvnStd_Thin;
    letter-spacing: 0.04em;
    color: #464e52;
    font-size: 18px;
}
.carousel-subheading-bold {
    font-weight: bold;
    font-size: 22px;
}
.orbit-progress {
    display: none!important;
}