.grid-env *,
.grid-env *:before,
.grid-env *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.left {
  float: left !important; }

.right {
  float: right !important; }

.clearfix {
  *zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: " ";
    display: table; }
  .clearfix:after {
    clear: both; }

.text-left {
  text-align: left !important; }

.text-right {
  text-align: right !important; }

.text-center {
  text-align: center !important; }

.text-justify {
  text-align: justify !important; }

.hide {
  display: none; }

.antialiased {
  -webkit-font-smoothing: antialiased; }

.grid-env img {
  display: inline-block;
  vertical-align: middle; }

.grid-env .row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 62.5em;
  *zoom: 1;
}
.grid-env .row:before,
.grid-env .row:after {
  content: " ";
  display: table;
}
.grid-env .row:after {
  clear: both;
}
.grid-env .row.collapse > .column,
.grid-env .row.collapse > .columns {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  float: left;
}
.grid-env .row.collapse .row {
  margin-left: 0;
  margin-right: 0;
}
.grid-env .row .row {
  width: auto;
  margin-left: -0.9375em;
  margin-right: -0.9375em;
  margin-top: 0;
  margin-bottom: 0;
  max-width: none;
  *zoom: 1;
}
.grid-env .row .row:before,
.grid-env .row .row:after {
  content: " ";
  display: table;
}
.grid-env .row .row:after {
  clear: both;
}
.grid-env .row .row.collapse {
  width: auto;
  margin: 0;
  max-width: none;
  *zoom: 1;
}
.grid-env .row .row.collapse:before,
.grid-env .row .row.collapse:after {
  content: " ";
  display: table;
}
.grid-env .row .row.collapse:after {
  clear: both;
}
.grid-env .column,
.grid-env .columns {
  position: relative;
  padding-left: 0.9375em;
  padding-right: 0.9375em;
  width: 100%;
  float: left;
}
@media only screen {
  .grid-env .small-push-1 {
    position: relative;
    left: 8.33333%;
    right: auto;
  }
  .grid-env .small-pull-1 {
    position: relative;
    right: 8.33333%;
    left: auto;
  }
  .grid-env .small-push-2 {
    position: relative;
    left: 16.66667%;
    right: auto;
  }
  .grid-env .small-pull-2 {
    position: relative;
    right: 16.66667%;
    left: auto;
  }
  .grid-env .small-push-3 {
    position: relative;
    left: 25%;
    right: auto;
  }
  .grid-env .small-pull-3 {
    position: relative;
    right: 25%;
    left: auto;
  }
  .grid-env .small-push-4 {
    position: relative;
    left: 33.33333%;
    right: auto;
  }
  .grid-env .small-pull-4 {
    position: relative;
    right: 33.33333%;
    left: auto;
  }
  .grid-env .small-push-5 {
    position: relative;
    left: 41.66667%;
    right: auto;
  }
  .grid-env .small-pull-5 {
    position: relative;
    right: 41.66667%;
    left: auto;
  }
  .grid-env .small-push-6 {
    position: relative;
    left: 50%;
    right: auto;
  }
  .grid-env .small-pull-6 {
    position: relative;
    right: 50%;
    left: auto;
  }
  .grid-env .small-push-7 {
    position: relative;
    left: 58.33333%;
    right: auto;
  }
  .grid-env .small-pull-7 {
    position: relative;
    right: 58.33333%;
    left: auto;
  }
  .grid-env .small-push-8 {
    position: relative;
    left: 66.66667%;
    right: auto;
  }
  .grid-env .small-pull-8 {
    position: relative;
    right: 66.66667%;
    left: auto;
  }
  .grid-env .small-push-9 {
    position: relative;
    left: 75%;
    right: auto;
  }
  .grid-env .small-pull-9 {
    position: relative;
    right: 75%;
    left: auto;
  }
  .grid-env .small-push-10 {
    position: relative;
    left: 83.33333%;
    right: auto;
  }
  .grid-env .small-pull-10 {
    position: relative;
    right: 83.33333%;
    left: auto;
  }
  .grid-env .small-push-11 {
    position: relative;
    left: 91.66667%;
    right: auto;
  }
  .grid-env .small-pull-11 {
    position: relative;
    right: 91.66667%;
    left: auto;
  }
  .grid-env .column,
  .grid-env .columns {
    position: relative;
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    float: left;
  }
  .grid-env .small-1 {
    position: relative;
    width: 8.33333%;
  }
  .grid-env .small-2 {
    position: relative;
    width: 16.66667%;
  }
  .grid-env .small-3 {
    position: relative;
    width: 25%;
  }
  .grid-env .small-4 {
    position: relative;
    width: 33.33333%;
  }
  .grid-env .small-5 {
    position: relative;
    width: 41.66667%;
  }
  .grid-env .small-6 {
    position: relative;
    width: 50%;
  }
  .grid-env .small-7 {
    position: relative;
    width: 58.33333%;
  }
  .grid-env .small-8 {
    position: relative;
    width: 66.66667%;
  }
  .grid-env .small-9 {
    position: relative;
    width: 75%;
  }
  .grid-env .small-10 {
    position: relative;
    width: 83.33333%;
  }
  .grid-env .small-11 {
    position: relative;
    width: 91.66667%;
  }
  .grid-env .small-12 {
    position: relative;
    width: 100%;
  }
  .grid-env .small-offset-0 {
    position: relative;
    margin-left: 0%;
  }
  .grid-env .small-offset-1 {
    position: relative;
    margin-left: 8.33333%;
  }
  .grid-env .small-offset-2 {
    position: relative;
    margin-left: 16.66667%;
  }
  .grid-env .small-offset-3 {
    position: relative;
    margin-left: 25%;
  }
  .grid-env .small-offset-4 {
    position: relative;
    margin-left: 33.33333%;
  }
  .grid-env .small-offset-5 {
    position: relative;
    margin-left: 41.66667%;
  }
  .grid-env .small-offset-6 {
    position: relative;
    margin-left: 50%;
  }
  .grid-env .small-offset-7 {
    position: relative;
    margin-left: 58.33333%;
  }
  .grid-env .small-offset-8 {
    position: relative;
    margin-left: 66.66667%;
  }
  .grid-env .small-offset-9 {
    position: relative;
    margin-left: 75%;
  }
  .grid-env .small-offset-10 {
    position: relative;
    margin-left: 83.33333%;
  }
  .grid-env [class*="column"] + [class*="column"]:last-child {
    float: right;
  }
  .grid-env [class*="column"] + [class*="column"].end {
    float: left;
  }
  .grid-env .column.small-centered,
  .grid-env .columns.small-centered {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    float: none !important;
  }
  .grid-env .column.small-uncentered,
  .grid-env .columns.small-uncentered {
    margin-left: 0;
    margin-right: 0;
    float: left !important;
  }
  .grid-env .column.small-uncentered.opposite,
  .grid-env .columns.small-uncentered.opposite {
    float: right !important;
  }
}
@media only screen and (min-width: 40.063em) {
  .grid-env .medium-push-1 {
    position: relative;
    left: 8.33333%;
    right: auto;
  }
  .grid-env .medium-pull-1 {
    position: relative;
    right: 8.33333%;
    left: auto;
  }
  .grid-env .medium-push-2 {
    position: relative;
    left: 16.66667%;
    right: auto;
  }
  .grid-env .medium-pull-2 {
    position: relative;
    right: 16.66667%;
    left: auto;
  }
  .grid-env .medium-push-3 {
    position: relative;
    left: 25%;
    right: auto;
  }
  .grid-env .medium-pull-3 {
    position: relative;
    right: 25%;
    left: auto;
  }
  .grid-env .medium-push-4 {
    position: relative;
    left: 33.33333%;
    right: auto;
  }
  .grid-env .medium-pull-4 {
    position: relative;
    right: 33.33333%;
    left: auto;
  }
  .grid-env .medium-push-5 {
    position: relative;
    left: 41.66667%;
    right: auto;
  }
  .grid-env .medium-pull-5 {
    position: relative;
    right: 41.66667%;
    left: auto;
  }
  .grid-env .medium-push-6 {
    position: relative;
    left: 50%;
    right: auto;
  }
  .grid-env .medium-pull-6 {
    position: relative;
    right: 50%;
    left: auto;
  }
  .grid-env .medium-push-7 {
    position: relative;
    left: 58.33333%;
    right: auto;
  }
  .grid-env .medium-pull-7 {
    position: relative;
    right: 58.33333%;
    left: auto;
  }
  .grid-env .medium-push-8 {
    position: relative;
    left: 66.66667%;
    right: auto;
  }
  .grid-env .medium-pull-8 {
    position: relative;
    right: 66.66667%;
    left: auto;
  }
  .grid-env .medium-push-9 {
    position: relative;
    left: 75%;
    right: auto;
  }
  .grid-env .medium-pull-9 {
    position: relative;
    right: 75%;
    left: auto;
  }
  .grid-env .medium-push-10 {
    position: relative;
    left: 83.33333%;
    right: auto;
  }
  .grid-env .medium-pull-10 {
    position: relative;
    right: 83.33333%;
    left: auto;
  }
  .grid-env .medium-push-11 {
    position: relative;
    left: 91.66667%;
    right: auto;
  }
  .grid-env .medium-pull-11 {
    position: relative;
    right: 91.66667%;
    left: auto;
  }
  .grid-env .column,
  .grid-env .columns {
    position: relative;
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    float: left;
  }
  .grid-env .medium-1 {
    position: relative;
    width: 8.33333%;
  }
  .grid-env .medium-2 {
    position: relative;
    width: 16.66667%;
  }
  .grid-env .medium-3 {
    position: relative;
    width: 25%;
  }
  .grid-env .medium-4 {
    position: relative;
    width: 33.33333%;
  }
  .grid-env .medium-5 {
    position: relative;
    width: 41.66667%;
  }
  .grid-env .medium-6 {
    position: relative;
    width: 50%;
  }
  .grid-env .medium-7 {
    position: relative;
    width: 58.33333%;
  }
  .grid-env .medium-8 {
    position: relative;
    width: 66.66667%;
  }
  .grid-env .medium-9 {
    position: relative;
    width: 75%;
  }
  .grid-env .medium-10 {
    position: relative;
    width: 83.33333%;
  }
  .grid-env .medium-11 {
    position: relative;
    width: 91.66667%;
  }
  .grid-env .medium-12 {
    position: relative;
    width: 100%;
  }
  .grid-env .medium-offset-0 {
    position: relative;
    margin-left: 0%;
  }
  .grid-env .medium-offset-1 {
    position: relative;
    margin-left: 8.33333%;
  }
  .grid-env .medium-offset-2 {
    position: relative;
    margin-left: 16.66667%;
  }
  .grid-env .medium-offset-3 {
    position: relative;
    margin-left: 25%;
  }
  .grid-env .medium-offset-4 {
    position: relative;
    margin-left: 33.33333%;
  }
  .grid-env .medium-offset-5 {
    position: relative;
    margin-left: 41.66667%;
  }
  .grid-env .medium-offset-6 {
    position: relative;
    margin-left: 50%;
  }
  .grid-env .medium-offset-7 {
    position: relative;
    margin-left: 58.33333%;
  }
  .grid-env .medium-offset-8 {
    position: relative;
    margin-left: 66.66667%;
  }
  .grid-env .medium-offset-9 {
    position: relative;
    margin-left: 75%;
  }
  .grid-env .medium-offset-10 {
    position: relative;
    margin-left: 83.33333%;
  }
  .grid-env [class*="column"] + [class*="column"]:last-child {
    float: right;
  }
  .grid-env [class*="column"] + [class*="column"].end {
    float: left;
  }
  .grid-env .column.medium-centered,
  .grid-env .columns.medium-centered {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    float: none !important;
  }
  .grid-env .column.medium-uncentered,
  .grid-env .columns.medium-uncentered {
    margin-left: 0;
    margin-right: 0;
    float: left !important;
  }
  .grid-env .column.medium-uncentered.opposite,
  .grid-env .columns.medium-uncentered.opposite {
    float: right !important;
  }
  .grid-env .push-1 {
    position: relative;
    left: 8.33333%;
    right: auto;
  }
  .grid-env .pull-1 {
    position: relative;
    right: 8.33333%;
    left: auto;
  }
  .grid-env .push-2 {
    position: relative;
    left: 16.66667%;
    right: auto;
  }
  .grid-env .pull-2 {
    position: relative;
    right: 16.66667%;
    left: auto;
  }
  .grid-env .push-3 {
    position: relative;
    left: 25%;
    right: auto;
  }
  .grid-env .pull-3 {
    position: relative;
    right: 25%;
    left: auto;
  }
  .grid-env .push-4 {
    position: relative;
    left: 33.33333%;
    right: auto;
  }
  .grid-env .pull-4 {
    position: relative;
    right: 33.33333%;
    left: auto;
  }
  .grid-env .push-5 {
    position: relative;
    left: 41.66667%;
    right: auto;
  }
  .grid-env .pull-5 {
    position: relative;
    right: 41.66667%;
    left: auto;
  }
  .grid-env .push-6 {
    position: relative;
    left: 50%;
    right: auto;
  }
  .grid-env .pull-6 {
    position: relative;
    right: 50%;
    left: auto;
  }
  .grid-env .push-7 {
    position: relative;
    left: 58.33333%;
    right: auto;
  }
  .grid-env .pull-7 {
    position: relative;
    right: 58.33333%;
    left: auto;
  }
  .grid-env .push-8 {
    position: relative;
    left: 66.66667%;
    right: auto;
  }
  .grid-env .pull-8 {
    position: relative;
    right: 66.66667%;
    left: auto;
  }
  .grid-env .push-9 {
    position: relative;
    left: 75%;
    right: auto;
  }
  .grid-env .pull-9 {
    position: relative;
    right: 75%;
    left: auto;
  }
  .grid-env .push-10 {
    position: relative;
    left: 83.33333%;
    right: auto;
  }
  .grid-env .pull-10 {
    position: relative;
    right: 83.33333%;
    left: auto;
  }
  .grid-env .push-11 {
    position: relative;
    left: 91.66667%;
    right: auto;
  }
  .grid-env .pull-11 {
    position: relative;
    right: 91.66667%;
    left: auto;
  }
}
@media only screen and (min-width: 64.063em) {
  .grid-env .large-push-1 {
    position: relative;
    left: 8.33333%;
    right: auto;
  }
  .grid-env .large-pull-1 {
    position: relative;
    right: 8.33333%;
    left: auto;
  }
  .grid-env .large-push-2 {
    position: relative;
    left: 16.66667%;
    right: auto;
  }
  .grid-env .large-pull-2 {
    position: relative;
    right: 16.66667%;
    left: auto;
  }
  .grid-env .large-push-3 {
    position: relative;
    left: 25%;
    right: auto;
  }
  .grid-env .large-pull-3 {
    position: relative;
    right: 25%;
    left: auto;
  }
  .grid-env .large-push-4 {
    position: relative;
    left: 33.33333%;
    right: auto;
  }
  .grid-env .large-pull-4 {
    position: relative;
    right: 33.33333%;
    left: auto;
  }
  .grid-env .large-push-5 {
    position: relative;
    left: 41.66667%;
    right: auto;
  }
  .grid-env .large-pull-5 {
    position: relative;
    right: 41.66667%;
    left: auto;
  }
  .grid-env .large-push-6 {
    position: relative;
    left: 50%;
    right: auto;
  }
  .grid-env .large-pull-6 {
    position: relative;
    right: 50%;
    left: auto;
  }
  .grid-env .large-push-7 {
    position: relative;
    left: 58.33333%;
    right: auto;
  }
  .grid-env .large-pull-7 {
    position: relative;
    right: 58.33333%;
    left: auto;
  }
  .grid-env .large-push-8 {
    position: relative;
    left: 66.66667%;
    right: auto;
  }
  .grid-env .large-pull-8 {
    position: relative;
    right: 66.66667%;
    left: auto;
  }
  .grid-env .large-push-9 {
    position: relative;
    left: 75%;
    right: auto;
  }
  .grid-env .large-pull-9 {
    position: relative;
    right: 75%;
    left: auto;
  }
  .grid-env .large-push-10 {
    position: relative;
    left: 83.33333%;
    right: auto;
  }
  .grid-env .large-pull-10 {
    position: relative;
    right: 83.33333%;
    left: auto;
  }
  .grid-env .large-push-11 {
    position: relative;
    left: 91.66667%;
    right: auto;
  }
  .grid-env .large-pull-11 {
    position: relative;
    right: 91.66667%;
    left: auto;
  }
  .grid-env .column,
  .grid-env .columns {
    position: relative;
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    float: left;
  }
  .grid-env .large-1 {
    position: relative;
    width: 8.33333%;
  }
  .grid-env .large-2 {
    position: relative;
    width: 16.66667%;
  }
  .grid-env .large-3 {
    position: relative;
    width: 25%;
  }
  .grid-env .large-4 {
    position: relative;
    width: 33.33333%;
  }
  .grid-env .large-5 {
    position: relative;
    width: 41.66667%;
  }
  .grid-env .large-6 {
    position: relative;
    width: 50%;
  }
  .grid-env .large-7 {
    position: relative;
    width: 58.33333%;
  }
  .grid-env .large-8 {
    position: relative;
    width: 66.66667%;
  }
  .grid-env .large-9 {
    position: relative;
    width: 75%;
  }
  .grid-env .large-10 {
    position: relative;
    width: 83.33333%;
  }
  .grid-env .large-11 {
    position: relative;
    width: 91.66667%;
  }
  .grid-env .large-12 {
    position: relative;
    width: 100%;
  }
  .grid-env .large-offset-0 {
    position: relative;
    margin-left: 0%;
  }
  .grid-env .large-offset-1 {
    position: relative;
    margin-left: 8.33333%;
  }
  .grid-env .large-offset-2 {
    position: relative;
    margin-left: 16.66667%;
  }
  .grid-env .large-offset-3 {
    position: relative;
    margin-left: 25%;
  }
  .grid-env .large-offset-4 {
    position: relative;
    margin-left: 33.33333%;
  }
  .grid-env .large-offset-5 {
    position: relative;
    margin-left: 41.66667%;
  }
  .grid-env .large-offset-6 {
    position: relative;
    margin-left: 50%;
  }
  .grid-env .large-offset-7 {
    position: relative;
    margin-left: 58.33333%;
  }
  .grid-env .large-offset-8 {
    position: relative;
    margin-left: 66.66667%;
  }
  .grid-env .large-offset-9 {
    position: relative;
    margin-left: 75%;
  }
  .grid-env .large-offset-10 {
    position: relative;
    margin-left: 83.33333%;
  }
  .grid-env [class*="column"] + [class*="column"]:last-child {
    float: right;
  }
  .grid-env [class*="column"] + [class*="column"].end {
    float: left;
  }
  .grid-env .column.large-centered,
  .grid-env .columns.large-centered {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    float: none !important;
  }
  .grid-env .column.large-uncentered,
  .grid-env .columns.large-uncentered {
    margin-left: 0;
    margin-right: 0;
    float: left !important;
  }
  .grid-env .column.large-uncentered.opposite,
  .grid-env .columns.large-uncentered.opposite {
    float: right !important;
  }
  [class*="block-grid-"] {
    display: block;
    padding: 0;
    margin: 0 -0.625rem;
    *zoom: 1;
  }
  [class*="block-grid-"]:before,
  [class*="block-grid-"]:after {
    content: " ";
    display: table;
  }
  [class*="block-grid-"]:after {
    clear: both;
  }
  [class*="block-grid-"] > li {
    display: inline;
    height: auto;
    float: left;
    padding: 0 0.625rem 1.25rem;
  }
}
@media only screen and (min-width: 64.063em) and only screen and (min-width: 90.063em) {
  .xlarge-push-1 {
    position: relative;
    left: 8.33333%;
    right: auto;
  }
  .xlarge-pull-1 {
    position: relative;
    right: 8.33333%;
    left: auto;
  }
  .xlarge-push-2 {
    position: relative;
    left: 16.66667%;
    right: auto;
  }
  .xlarge-pull-2 {
    position: relative;
    right: 16.66667%;
    left: auto;
  }
  .xlarge-push-3 {
    position: relative;
    left: 25%;
    right: auto;
  }
  .xlarge-pull-3 {
    position: relative;
    right: 25%;
    left: auto;
  }
  .xlarge-push-4 {
    position: relative;
    left: 33.33333%;
    right: auto;
  }
  .xlarge-pull-4 {
    position: relative;
    right: 33.33333%;
    left: auto;
  }
  .xlarge-push-5 {
    position: relative;
    left: 41.66667%;
    right: auto;
  }
  .xlarge-pull-5 {
    position: relative;
    right: 41.66667%;
    left: auto;
  }
  .xlarge-push-6 {
    position: relative;
    left: 50%;
    right: auto;
  }
  .xlarge-pull-6 {
    position: relative;
    right: 50%;
    left: auto;
  }
  .xlarge-push-7 {
    position: relative;
    left: 58.33333%;
    right: auto;
  }
  .xlarge-pull-7 {
    position: relative;
    right: 58.33333%;
    left: auto;
  }
  .xlarge-push-8 {
    position: relative;
    left: 66.66667%;
    right: auto;
  }
  .xlarge-pull-8 {
    position: relative;
    right: 66.66667%;
    left: auto;
  }
  .xlarge-push-9 {
    position: relative;
    left: 75%;
    right: auto;
  }
  .xlarge-pull-9 {
    position: relative;
    right: 75%;
    left: auto;
  }
  .xlarge-push-10 {
    position: relative;
    left: 83.33333%;
    right: auto;
  }
  .xlarge-pull-10 {
    position: relative;
    right: 83.33333%;
    left: auto;
  }
  .xlarge-push-11 {
    position: relative;
    left: 91.66667%;
    right: auto;
  }
  .xlarge-pull-11 {
    position: relative;
    right: 91.66667%;
    left: auto;
  }
  .column,
  .columns {
    position: relative;
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    float: left;
  }
  .xlarge-1 {
    position: relative;
    width: 8.33333%;
  }
  .xlarge-2 {
    position: relative;
    width: 16.66667%;
  }
  .xlarge-3 {
    position: relative;
    width: 25%;
  }
  .xlarge-4 {
    position: relative;
    width: 33.33333%;
  }
  .xlarge-5 {
    position: relative;
    width: 41.66667%;
  }
  .xlarge-6 {
    position: relative;
    width: 50%;
  }
  .xlarge-7 {
    position: relative;
    width: 58.33333%;
  }
  .xlarge-8 {
    position: relative;
    width: 66.66667%;
  }
  .xlarge-9 {
    position: relative;
    width: 75%;
  }
  .xlarge-10 {
    position: relative;
    width: 83.33333%;
  }
  .xlarge-11 {
    position: relative;
    width: 91.66667%;
  }
  .xlarge-12 {
    position: relative;
    width: 100%;
  }
  .xlarge-offset-0 {
    position: relative;
    margin-left: 0%;
  }
  .xlarge-offset-1 {
    position: relative;
    margin-left: 8.33333%;
  }
  .xlarge-offset-2 {
    position: relative;
    margin-left: 16.66667%;
  }
  .xlarge-offset-3 {
    position: relative;
    margin-left: 25%;
  }
  .xlarge-offset-4 {
    position: relative;
    margin-left: 33.33333%;
  }
  .xlarge-offset-5 {
    position: relative;
    margin-left: 41.66667%;
  }
  .xlarge-offset-6 {
    position: relative;
    margin-left: 50%;
  }
  .xlarge-offset-7 {
    position: relative;
    margin-left: 58.33333%;
  }
  .xlarge-offset-8 {
    position: relative;
    margin-left: 66.66667%;
  }
  .xlarge-offset-9 {
    position: relative;
    margin-left: 75%;
  }
  .xlarge-offset-10 {
    position: relative;
    margin-left: 83.33333%;
  }
  [class*="column"] + [class*="column"]:last-child {
    float: right;
  }
  [class*="column"] + [class*="column"].end {
    float: left;
  }
  .column.xlarge-centered,
  .columns.xlarge-centered {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    float: none !important;
  }
  .column.xlarge-uncentered,
  .columns.xlarge-uncentered {
    margin-left: 0;
    margin-right: 0;
    float: left !important;
  }
  .column.xlarge-uncentered.opposite,
  .columns.xlarge-uncentered.opposite {
    float: right !important;
  }
}
@media only screen and (min-width: 64.063em) and only screen and (min-width: 120.063em) {
  .xxlarge-push-1 {
    position: relative;
    left: 8.33333%;
    right: auto;
  }
  .xxlarge-pull-1 {
    position: relative;
    right: 8.33333%;
    left: auto;
  }
  .xxlarge-push-2 {
    position: relative;
    left: 16.66667%;
    right: auto;
  }
  .xxlarge-pull-2 {
    position: relative;
    right: 16.66667%;
    left: auto;
  }
  .xxlarge-push-3 {
    position: relative;
    left: 25%;
    right: auto;
  }
  .xxlarge-pull-3 {
    position: relative;
    right: 25%;
    left: auto;
  }
  .xxlarge-push-4 {
    position: relative;
    left: 33.33333%;
    right: auto;
  }
  .xxlarge-pull-4 {
    position: relative;
    right: 33.33333%;
    left: auto;
  }
  .xxlarge-push-5 {
    position: relative;
    left: 41.66667%;
    right: auto;
  }
  .xxlarge-pull-5 {
    position: relative;
    right: 41.66667%;
    left: auto;
  }
  .xxlarge-push-6 {
    position: relative;
    left: 50%;
    right: auto;
  }
  .xxlarge-pull-6 {
    position: relative;
    right: 50%;
    left: auto;
  }
  .xxlarge-push-7 {
    position: relative;
    left: 58.33333%;
    right: auto;
  }
  .xxlarge-pull-7 {
    position: relative;
    right: 58.33333%;
    left: auto;
  }
  .xxlarge-push-8 {
    position: relative;
    left: 66.66667%;
    right: auto;
  }
  .xxlarge-pull-8 {
    position: relative;
    right: 66.66667%;
    left: auto;
  }
  .xxlarge-push-9 {
    position: relative;
    left: 75%;
    right: auto;
  }
  .xxlarge-pull-9 {
    position: relative;
    right: 75%;
    left: auto;
  }
  .xxlarge-push-10 {
    position: relative;
    left: 83.33333%;
    right: auto;
  }
  .xxlarge-pull-10 {
    position: relative;
    right: 83.33333%;
    left: auto;
  }
  .xxlarge-push-11 {
    position: relative;
    left: 91.66667%;
    right: auto;
  }
  .xxlarge-pull-11 {
    position: relative;
    right: 91.66667%;
    left: auto;
  }
  .column,
  .columns {
    position: relative;
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    float: left;
  }
  .xxlarge-1 {
    position: relative;
    width: 8.33333%;
  }
  .xxlarge-2 {
    position: relative;
    width: 16.66667%;
  }
  .xxlarge-3 {
    position: relative;
    width: 25%;
  }
  .xxlarge-4 {
    position: relative;
    width: 33.33333%;
  }
  .xxlarge-5 {
    position: relative;
    width: 41.66667%;
  }
  .xxlarge-6 {
    position: relative;
    width: 50%;
  }
  .xxlarge-7 {
    position: relative;
    width: 58.33333%;
  }
  .xxlarge-8 {
    position: relative;
    width: 66.66667%;
  }
  .xxlarge-9 {
    position: relative;
    width: 75%;
  }
  .xxlarge-10 {
    position: relative;
    width: 83.33333%;
  }
  .xxlarge-11 {
    position: relative;
    width: 91.66667%;
  }
  .xxlarge-12 {
    position: relative;
    width: 100%;
  }
  .xxlarge-offset-0 {
    position: relative;
    margin-left: 0%;
  }
  .xxlarge-offset-1 {
    position: relative;
    margin-left: 8.33333%;
  }
  .xxlarge-offset-2 {
    position: relative;
    margin-left: 16.66667%;
  }
  .xxlarge-offset-3 {
    position: relative;
    margin-left: 25%;
  }
  .xxlarge-offset-4 {
    position: relative;
    margin-left: 33.33333%;
  }
  .xxlarge-offset-5 {
    position: relative;
    margin-left: 41.66667%;
  }
  .xxlarge-offset-6 {
    position: relative;
    margin-left: 50%;
  }
  .xxlarge-offset-7 {
    position: relative;
    margin-left: 58.33333%;
  }
  .xxlarge-offset-8 {
    position: relative;
    margin-left: 66.66667%;
  }
  .xxlarge-offset-9 {
    position: relative;
    margin-left: 75%;
  }
  .xxlarge-offset-10 {
    position: relative;
    margin-left: 83.33333%;
  }
  [class*="column"] + [class*="column"]:last-child {
    float: right;
  }
  [class*="column"] + [class*="column"].end {
    float: left;
  }
  .column.xxlarge-centered,
  .columns.xxlarge-centered {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    float: none !important;
  }
  .column.xxlarge-uncentered,
  .columns.xxlarge-uncentered {
    margin-left: 0;
    margin-right: 0;
    float: left !important;
  }
  .column.xxlarge-uncentered.opposite,
  .columns.xxlarge-uncentered.opposite {
    float: right !important;
  }
}
@media only screen and (min-width: 64.063em) and only screen {
  .small-block-grid-1 > li {
    width: 100%;
    padding: 0 0.625rem 1.25rem;
  }
  .small-block-grid-1 > li:nth-of-type(n) {
    clear: none;
  }
  .small-block-grid-1 > li:nth-of-type(1n+1) {
    clear: both;
  }
  .small-block-grid-2 > li {
    width: 50%;
    padding: 0 0.625rem 1.25rem;
  }
  .small-block-grid-2 > li:nth-of-type(n) {
    clear: none;
  }
  .small-block-grid-2 > li:nth-of-type(2n+1) {
    clear: both;
  }
  .small-block-grid-3 > li {
    width: 33.33333%;
    padding: 0 0.625rem 1.25rem;
  }
  .small-block-grid-3 > li:nth-of-type(n) {
    clear: none;
  }
  .small-block-grid-3 > li:nth-of-type(3n+1) {
    clear: both;
  }
  .small-block-grid-4 > li {
    width: 25%;
    padding: 0 0.625rem 1.25rem;
  }
  .small-block-grid-4 > li:nth-of-type(n) {
    clear: none;
  }
  .small-block-grid-4 > li:nth-of-type(4n+1) {
    clear: both;
  }
  .small-block-grid-5 > li {
    width: 20%;
    padding: 0 0.625rem 1.25rem;
  }
  .small-block-grid-5 > li:nth-of-type(n) {
    clear: none;
  }
  .small-block-grid-5 > li:nth-of-type(5n+1) {
    clear: both;
  }
  .small-block-grid-6 > li {
    width: 16.66667%;
    padding: 0 0.625rem 1.25rem;
  }
  .small-block-grid-6 > li:nth-of-type(n) {
    clear: none;
  }
  .small-block-grid-6 > li:nth-of-type(6n+1) {
    clear: both;
  }
  .small-block-grid-7 > li {
    width: 14.28571%;
    padding: 0 0.625rem 1.25rem;
  }
  .small-block-grid-7 > li:nth-of-type(n) {
    clear: none;
  }
  .small-block-grid-7 > li:nth-of-type(7n+1) {
    clear: both;
  }
  .small-block-grid-8 > li {
    width: 12.5%;
    padding: 0 0.625rem 1.25rem;
  }
  .small-block-grid-8 > li:nth-of-type(n) {
    clear: none;
  }
  .small-block-grid-8 > li:nth-of-type(8n+1) {
    clear: both;
  }
  .small-block-grid-9 > li {
    width: 11.11111%;
    padding: 0 0.625rem 1.25rem;
  }
  .small-block-grid-9 > li:nth-of-type(n) {
    clear: none;
  }
  .small-block-grid-9 > li:nth-of-type(9n+1) {
    clear: both;
  }
  .small-block-grid-10 > li {
    width: 10%;
    padding: 0 0.625rem 1.25rem;
  }
  .small-block-grid-10 > li:nth-of-type(n) {
    clear: none;
  }
  .small-block-grid-10 > li:nth-of-type(10n+1) {
    clear: both;
  }
  .small-block-grid-11 > li {
    width: 9.09091%;
    padding: 0 0.625rem 1.25rem;
  }
  .small-block-grid-11 > li:nth-of-type(n) {
    clear: none;
  }
  .small-block-grid-11 > li:nth-of-type(11n+1) {
    clear: both;
  }
  .small-block-grid-12 > li {
    width: 8.33333%;
    padding: 0 0.625rem 1.25rem;
  }
  .small-block-grid-12 > li:nth-of-type(n) {
    clear: none;
  }
  .small-block-grid-12 > li:nth-of-type(12n+1) {
    clear: both;
  }
}
@media only screen and (min-width: 64.063em) and only screen and (min-width: 40.063em) {
  .medium-block-grid-1 > li {
    width: 100%;
    padding: 0 0.625rem 1.25rem;
  }
  .medium-block-grid-1 > li:nth-of-type(n) {
    clear: none;
  }
  .medium-block-grid-1 > li:nth-of-type(1n+1) {
    clear: both;
  }
  .medium-block-grid-2 > li {
    width: 50%;
    padding: 0 0.625rem 1.25rem;
  }
  .medium-block-grid-2 > li:nth-of-type(n) {
    clear: none;
  }
  .medium-block-grid-2 > li:nth-of-type(2n+1) {
    clear: both;
  }
  .medium-block-grid-3 > li {
    width: 33.33333%;
    padding: 0 0.625rem 1.25rem;
  }
  .medium-block-grid-3 > li:nth-of-type(n) {
    clear: none;
  }
  .medium-block-grid-3 > li:nth-of-type(3n+1) {
    clear: both;
  }
  .medium-block-grid-4 > li {
    width: 25%;
    padding: 0 0.625rem 1.25rem;
  }
  .medium-block-grid-4 > li:nth-of-type(n) {
    clear: none;
  }
  .medium-block-grid-4 > li:nth-of-type(4n+1) {
    clear: both;
  }
  .medium-block-grid-5 > li {
    width: 20%;
    padding: 0 0.625rem 1.25rem;
  }
  .medium-block-grid-5 > li:nth-of-type(n) {
    clear: none;
  }
  .medium-block-grid-5 > li:nth-of-type(5n+1) {
    clear: both;
  }
  .medium-block-grid-6 > li {
    width: 16.66667%;
    padding: 0 0.625rem 1.25rem;
  }
  .medium-block-grid-6 > li:nth-of-type(n) {
    clear: none;
  }
  .medium-block-grid-6 > li:nth-of-type(6n+1) {
    clear: both;
  }
  .medium-block-grid-7 > li {
    width: 14.28571%;
    padding: 0 0.625rem 1.25rem;
  }
  .medium-block-grid-7 > li:nth-of-type(n) {
    clear: none;
  }
  .medium-block-grid-7 > li:nth-of-type(7n+1) {
    clear: both;
  }
  .medium-block-grid-8 > li {
    width: 12.5%;
    padding: 0 0.625rem 1.25rem;
  }
  .medium-block-grid-8 > li:nth-of-type(n) {
    clear: none;
  }
  .medium-block-grid-8 > li:nth-of-type(8n+1) {
    clear: both;
  }
  .medium-block-grid-9 > li {
    width: 11.11111%;
    padding: 0 0.625rem 1.25rem;
  }
  .medium-block-grid-9 > li:nth-of-type(n) {
    clear: none;
  }
  .medium-block-grid-9 > li:nth-of-type(9n+1) {
    clear: both;
  }
  .medium-block-grid-10 > li {
    width: 10%;
    padding: 0 0.625rem 1.25rem;
  }
  .medium-block-grid-10 > li:nth-of-type(n) {
    clear: none;
  }
  .medium-block-grid-10 > li:nth-of-type(10n+1) {
    clear: both;
  }
  .medium-block-grid-11 > li {
    width: 9.09091%;
    padding: 0 0.625rem 1.25rem;
  }
  .medium-block-grid-11 > li:nth-of-type(n) {
    clear: none;
  }
  .medium-block-grid-11 > li:nth-of-type(11n+1) {
    clear: both;
  }
  .medium-block-grid-12 > li {
    width: 8.33333%;
    padding: 0 0.625rem 1.25rem;
  }
  .medium-block-grid-12 > li:nth-of-type(n) {
    clear: none;
  }
  .medium-block-grid-12 > li:nth-of-type(12n+1) {
    clear: both;
  }
}
@media only screen and (min-width: 64.063em) and only screen and (min-width: 64.063em) {
  .large-block-grid-1 > li {
    width: 100%;
    padding: 0 0.625rem 1.25rem;
  }
  .large-block-grid-1 > li:nth-of-type(n) {
    clear: none;
  }
  .large-block-grid-1 > li:nth-of-type(1n+1) {
    clear: both;
  }
  .large-block-grid-2 > li {
    width: 50%;
    padding: 0 0.625rem 1.25rem;
  }
  .large-block-grid-2 > li:nth-of-type(n) {
    clear: none;
  }
  .large-block-grid-2 > li:nth-of-type(2n+1) {
    clear: both;
  }
  .large-block-grid-3 > li {
    width: 33.33333%;
    padding: 0 0.625rem 1.25rem;
  }
  .large-block-grid-3 > li:nth-of-type(n) {
    clear: none;
  }
  .large-block-grid-3 > li:nth-of-type(3n+1) {
    clear: both;
  }
  .large-block-grid-4 > li {
    width: 25%;
    padding: 0 0.625rem 1.25rem;
  }
  .large-block-grid-4 > li:nth-of-type(n) {
    clear: none;
  }
  .large-block-grid-4 > li:nth-of-type(4n+1) {
    clear: both;
  }
  .large-block-grid-5 > li {
    width: 20%;
    padding: 0 0.625rem 1.25rem;
  }
  .large-block-grid-5 > li:nth-of-type(n) {
    clear: none;
  }
  .large-block-grid-5 > li:nth-of-type(5n+1) {
    clear: both;
  }
  .large-block-grid-6 > li {
    width: 16.66667%;
    padding: 0 0.625rem 1.25rem;
  }
  .large-block-grid-6 > li:nth-of-type(n) {
    clear: none;
  }
  .large-block-grid-6 > li:nth-of-type(6n+1) {
    clear: both;
  }
  .large-block-grid-7 > li {
    width: 14.28571%;
    padding: 0 0.625rem 1.25rem;
  }
  .large-block-grid-7 > li:nth-of-type(n) {
    clear: none;
  }
  .large-block-grid-7 > li:nth-of-type(7n+1) {
    clear: both;
  }
  .large-block-grid-8 > li {
    width: 12.5%;
    padding: 0 0.625rem 1.25rem;
  }
  .large-block-grid-8 > li:nth-of-type(n) {
    clear: none;
  }
  .large-block-grid-8 > li:nth-of-type(8n+1) {
    clear: both;
  }
  .large-block-grid-9 > li {
    width: 11.11111%;
    padding: 0 0.625rem 1.25rem;
  }
  .large-block-grid-9 > li:nth-of-type(n) {
    clear: none;
  }
  .large-block-grid-9 > li:nth-of-type(9n+1) {
    clear: both;
  }
  .large-block-grid-10 > li {
    width: 10%;
    padding: 0 0.625rem 1.25rem;
  }
  .large-block-grid-10 > li:nth-of-type(n) {
    clear: none;
  }
  .large-block-grid-10 > li:nth-of-type(10n+1) {
    clear: both;
  }
  .large-block-grid-11 > li {
    width: 9.09091%;
    padding: 0 0.625rem 1.25rem;
  }
  .large-block-grid-11 > li:nth-of-type(n) {
    clear: none;
  }
  .large-block-grid-11 > li:nth-of-type(11n+1) {
    clear: both;
  }
  .large-block-grid-12 > li {
    width: 8.33333%;
    padding: 0 0.625rem 1.25rem;
  }
  .large-block-grid-12 > li:nth-of-type(n) {
    clear: none;
  }
  .large-block-grid-12 > li:nth-of-type(12n+1) {
    clear: both;
  }
}
